<footer>

    <div class="footer-partial">
        <ul class="footer1">
           <a href="#">
                <li>Home</li>
            </a> 
            <a href="#">
                <li>Categorias</li>
            </a>
            <a href="#">
                <li>Carrinho</li>
            </a>
            <a href="#">
                <li>Sobre</li>
            </a>
        </ul>
    
    
        <ul class="footer2">
            <h3>Rodapé teste</h3>
            <a href="#"><a href="#"><img src="" alt=""></a></a>
            <a href="#"><a href="#"><img src="" alt=""></a></a>
            <a href="#"><a href="#"><img src="" alt=""></a></a>
    
        </ul>
    
    
    </div>
    
    
    </footer>
    <script src="/public/js/scripts.js"></script>
    